body {
    font-family: 'Aldrich', sans-serif;
    color: #333333;
    background: #faf9fb;
}

h1, h2, h3, h4, .title, .box-title {
    font-family: 'Aldrich', sans-serif;
    color: #01526a;
}

a {
    color: #7413a4;
}

.box {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #fff;
    transition: box-shadow 0.3s ease;
}

.box:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.box-title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
}

.box-title a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

.box-title a:hover {
    color: #0056b3;
}

.sub-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.data-element {
    flex: 1;
    padding: 5px;
    text-align: left;
    border: 1px solid #e0e0e0;
    background-color: #f5f5f5;
    margin: 0 5px;
    border-radius: 5px;
    min-height: 40px;
    display: flex;
    align-items: center;
    align-self: stretch;
    background-color: #f2f0f4;
    padding: 5px 20px;
}

.data-element:nth-child(1) {
    flex: 2;
    font-weight: 600;
}

.data-element:nth-child(2) {
    flex: 4;
}

.data-element button {
    margin: 0 5px; /* Provides 5px margin on left and right of each button */
}

/* Button Styling */
.calculate-btn {
    background-color: #007BFF;  /* Primary color */
    border: none;
    border-radius: 5px;  /* Rounded edges */
    color: #fff;  /* White text */
    cursor: pointer;
    font-size: 16px;  /* Slightly larger font */
    padding: 10px 20px;  /* Vertical and horizontal padding */
    margin: 20px 0;  /* Space above and below the button */
    transition: background-color 0.3s ease;  /* Transition for hover effect */
}

.remove-button {
    background-color: #7413a4;
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.new-row-btn{
    background-color: #7413a4;
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.save-btn{
    background-color: #7413a4;
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.button, .submit-order-btn {
    background-color: #7413a4;
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.button, .calculate-btn {
    background-color: #7413a4;
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

/* Total Price Display Styling */
.total-price-display {
    background-color: #f2f0f4;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    text-align: center
}

/* Specific Styles for Registration Form */
#registration-box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto; /* Center the box */
    max-width: 400px; /* Maximum width of the box */
}

#registration-box h2 {
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center; /* Center align the heading */
}

#registration-box input[type="text"],
#registration-box input[type="password"],
#registration-box textarea {
    width: 100%; /* Full width inputs */
    padding: 12px 20px; /* Padding for inputs */
    margin: 8px 0; /* Margin for spacing */
    display: inline-block; /* Display inline for proper alignment */
    border: 1px solid #ccc; /* Border for inputs */
    border-radius: 4px; /* Rounded corners for inputs */
    box-sizing: border-box; /* Making sure that padding and width stays within the box size */
    background-color: #f5f5f5; /* Light grey background */
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); /* Inner shadow for depth */
    transition: border-color 0.3s ease; /* Smooth transition for focus */
}

#registration-box input[type=text]:focus,
#registration-box textarea:focus {
    border-color: #007BFF; /* Blue border for focus */
    outline: none; /* Remove default focus outline */
}

#registration-box input[type=submit] {
    background-color: #7413a4;
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

#registration-box input[type=submit]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#registration-box label {
    display: block; /* Ensure the label is on a new line */
    margin: 8px 0; /* Margin for spacing */
}

#registration-box form {
    max-width: 500px; /* Max width for the form */
    margin: auto; /* Centering form in the page */
    padding: 10px; /* Padding inside the form */
}

#registration-box {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Slightly deeper shadow for the form box */
}

.inventory-item {
    font-family: 'Aldrich', sans-serif;
    font-size: 1em; /* match the font size */
    padding: 0.5em; /* adjust the padding */
    border: 1px solid #ccc; /* standard border */
    border-radius: 4px; /* rounded corners */
    background-color: #fff; /* white background */
}

.inventory-item.description {
    width: 100%; /* Set to the desired width or use 100% to fill the container */
    height: 100px;
    box-sizing: border-box; /* This ensures padding and borders are included in the width */
}
